#Reading CSV File

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df=pd.read_csv('MOCK_DATA.csv')
df

        Company      Model  Year            Car Vpn  price
0         Toyota     Camry  2010  WBAVC73527K373534   3921
1     Mitsubishi    Mirage  1984  2V4RW3DG1BR283425   5886
2          Honda     Pilot  2007  4T1BF1FK3CU327474   8811
3         Toyota    Tacoma  1995  WBAPH53509A062367   5315
4          Lotus    Esprit  1989  5BZAF0AA9FN200817   7098
..           ...       ...   ...                ...    ...
245         Ford  Windstar  2002  3C4PDCBB5FT874746   9057
246        Volvo      XC60  2011  SCFEBBBK2DG354336   7863
247    Chevrolet  Corvette  2012  WVWAN7AN3DE911134   5614
248  Lamborghini  Countach  1989  WAUKC68D61A266366   8274
249        Honda    Accord  1996  5TDDK3DC3DS291744   7700

[250 rows x 5 columns]

In [3]:
df.columns

Index(['Company ', 'Model', 'Year', 'Car Vpn', 'price'], dtype='object')

In [4]:
df.isnull().sum()

Company     0
Model       0
Year        0
Car Vpn     0
price       0
dtype: int64

In [5]:
a = df[df['price']>2000]
a

        Company      Model  Year            Car Vpn  price
0         Toyota     Camry  2010  WBAVC73527K373534   3921
1     Mitsubishi    Mirage  1984  2V4RW3DG1BR283425   5886
2          Honda     Pilot  2007  4T1BF1FK3CU327474   8811
3         Toyota    Tacoma  1995  WBAPH53509A062367   5315
4          Lotus    Esprit  1989  5BZAF0AA9FN200817   7098
..           ...       ...   ...                ...    ...
245         Ford  Windstar  2002  3C4PDCBB5FT874746   9057
246        Volvo      XC60  2011  SCFEBBBK2DG354336   7863
247    Chevrolet  Corvette  2012  WVWAN7AN3DE911134   5614
248  Lamborghini  Countach  1989  WAUKC68D61A266366   8274
249        Honda    Accord  1996  5TDDK3DC3DS291744   7700

[250 rows x 5 columns]

In [7]:
fig = px.bar(df , x=df['Company'], y=df['price'] , title='Car Price in World')
fig.show()

KeyError: 'Company'